{% extends 'base2.html' %}

<h1>{% block title %} La roue et la plume | Planning Entrainement {% endblock %}</h1>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <link rel="stylesheet" href="schedule-template-master/assets/css/style.css">
  </head>
  <body>
    <header class="cd-main-header text-center flex flex-column flex-center">
      <p>La Roue et la Plume</p>
      <h1 class="text-xl">Planning des entrainements</h1>
    </header>
  
    <div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">
      <div class="cd-schedule__timeline">
        <ul>
          <li><span>00:00</span></li>
          <li><span>0:30</span></li>
          <li><span>1:00</span></li>
          <li><span>1:30</span></li>
          <li><span>2:00</span></li>
          <li><span>2:30</span></li>
          <li><span>3:00</span></li>
          <li><span>3:30</span></li>
          <li><span>4:00</span></li>
          <li><span>4:30</span></li>
          <li><span>5:00</span></li>
        </ul>
      </div> <!-- .cd-schedule__timeline -->
    
      <div class="cd-schedule__events">
        <ul>
          <li class="cd-schedule__group">
            <div class="cd-schedule__top-info"><span>Lundi</span></div>
    
            <ul>
              <li class="cd-schedule__event">
                <a data-start="00:00" data-end="2:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                  <em class="cd-schedule__name">Endurance</em>
                </a>
              </li>
    
              <li class="cd-schedule__event">
                <a data-start="2:30" data-end="3:00" data-content="event-rowing-workout" data-event="event-2" href="#0">
                  <em class="cd-schedule__name">Sprint</em>
                </a>
              </li>
            </ul>
          </li>
    
          <li class="cd-schedule__group">
            <div class="cd-schedule__top-info"><span>Mardi</span></div>
    
            <ul>
              <li class="cd-schedule__event">
                <a data-start="00:00" data-end="1:30"  data-content="event-restorative-yoga" data-event="event-4" href="#0">
                  <em class="cd-schedule__name">Repos</em>
                </a>
              </li>
            </ul>
          </li>
    
          <li class="cd-schedule__group">
            <div class="cd-schedule__top-info"><span>Mercredi</span></div>
    
            <ul>
    
              <li class="cd-schedule__event">
                <a data-start="00:00" data-end="1:30" data-content="event-yoga-1" data-event="event-3" href="#0">
                  <em class="cd-schedule__name">Fractionné</em>
                </a>
              </li>
            </ul>
          </li>
    
          <li class="cd-schedule__group">
            <div class="cd-schedule__top-info"><span>Jeudi</span></div>
    
            <ul>
              <li class="cd-schedule__event">
                <a data-start="00:00" data-end="3:30" data-content="event-abs-circuit" data-event="event-1" href="#0">
                  <em class="cd-schedule__name">Endurance</em>
                </a>
              </li>
            </ul>
          </li>
    
          <li class="cd-schedule__group">
            <div class="cd-schedule__top-info"><span>Vendredi</span></div>
    
            <ul>
              <li class="cd-schedule__event">
                <a data-start="00:00" data-end="2:00"  data-content="event-yoga-1" data-event="event-3" href="#0">
                  <em class="cd-schedule__name">Fractionné</em>
                </a>
              </li>
            </ul>
          </li>
  
          <li class="cd-schedule__group">
            <div class="cd-schedule__top-info"><span>Samedi</span></div>
  
            <ul>
              <li class="cd-schedule__event">
                <a data-start="00:00" data-end="1:30"  data-content="event-restorative-yoga" data-event="event-4" href="#0">
                  <em class="cd-schedule__name">Repos</em>
                </a>
              </li>
            </ul>
          </li>
  
          <li class="cd-schedule__group">
            <div class="cd-schedule__top-info"><span>Dimanche</span></div>
  
            <ul>
              <li class="cd-schedule__event">
                <a data-start="00:00" data-end="2:00"  data-content="event-yoga-1" data-event="event-3" href="#0">
                 <em class="cd-schedule__name">Fractionné</em>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    
      <div class="cd-schedule-modal">
        <header class="cd-schedule-modal__header">
          <div class="cd-schedule-modal__content">
            <span class="cd-schedule-modal__date"></span>
            <h3 class="cd-schedule-modal__name"></h3>
          </div>
    
          <div class="cd-schedule-modal__header-bg"></div>
        </header>
    
        <div class="cd-schedule-modal__body">
          <div class="cd-schedule-modal__event-info"></div>
          <div class="cd-schedule-modal__body-bg"></div>
        </div>
    
        <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
      </div>
    
      <div class="cd-schedule__cover-layer"></div>
    </div> <!-- .cd-schedule -->
  
    <script src="assets/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
    <script src="assets/js/main.js"></script>
  </body>
  </html>
